@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');

:root {
  --embark-blue: #0fa0b4;
  --embark-red: #b40000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Typography */

a {
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Spacing */

/* All 2nd level items (ie. sections) should have margins... */
body > * > * {
  margin: 3% 5%;
}

/* ...Except full-width sections */
.full-width-section {
  background: black;
  color: white;
  margin: 0;
  padding: 3% 5%;
}

.full-width-section p {
  font-size: 1.3rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Embark theming */

.button-primary {
  display: inline-block;
  font-size: 20px;
  background: var(--embark-blue);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5em 2em;
  margin: 1em 0;
  transition: all 0.2s ease-in-out;
}

.button-primary:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.background-blue {
  background: var(--embark-blue);
}

.background-red {
  background: var(--embark-red);
}

.background-black {
  background: black;
}

.background-grey {
  background: #eee;
  color: black;
}

/* Header and Intro */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  margin: 0;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  padding: 0 5%;
  width: 100vw;
  height: 90px;
  z-index: 100;
}

.header * {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 0.2em;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.header .fa:hover {
  transform: scale(1.1);
}

.search-icon {
  padding-left: 0.7em;
}

#logo {
  width: 200px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
  background-image: url('./img/code.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.cover i {
  margin-right: 10px;
}

.cover a {
  text-decoration: none;
}

#hero {
  min-height: 40vh;
}

/* Project Cards */

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.category-tag {
  color: var(--embark-blue);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  margin: 0.5rem;
  padding: 1.5rem;
  background: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.project p {
  font-size: 1rem;
}

.project p a:hover {
  opacity: 0.6;
}

.project:hover {
  transform: scale(1.05);
}

.project-featured {
  width: 550px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.project-featured p {
  font-size: 1.1rem;
}

.title {
  margin: 0;
}

.emoji {
  font-size: 1.5em;
  padding-right: 5px;
}

.star-button {
  margin-top: 1rem;
}

/* Projects A-Z Table */

.projects-list {
  list-style: none;
  padding-left: 0;
  max-width: 1000px;
}

.projects-list a {
  text-decoration: none;
  color: inherit;
}

.projects-list li {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: 1px #ccc solid;
  transition: all 0.2s ease-in-out;
}

.projects-list li:hover {
  background: #eee;
}

/* Tags */

.tag {
  display: inline-block;
  background: var(--embark-blue);
  margin: 3px;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: none;
  transition: all 0.2s ease-in-out;
}

.tag a {
  text-decoration: none;
}

.tag:hover {
  transform: scale(1.15);
}

.tag-rust {
  background: #731b00;
}

.tag-blender {
  background: #e08210;
}

.tag-web {
  background: #ffc30b;
}

.tag-go {
  background: #00ced1;
}

.tag-docker {
  background: #1e90ff;
}

.logo-container a {
  text-decoration: none;
}

.logo-image {
  height: 70px;
  margin: 1em;
  fill: #111;
}

.feature-logo {
  fill: white;
  height: 100px;
  margin-bottom: -20px;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }

  .background-grey {
    background: #1a1a1a;
    color: white;
  }

  .background-blue {
    /* Embark blue looks way too bright in dark mode, so make it 70% opacity */
    background: rgba(15, 160, 180, 0.7);
  }

  .project {
    background-color: #333;
    border-color: #333;
    color: white;
  }

  .projects-list li:hover {
    background-color: #333;
  }

  .logo-image {
    fill: white;
  }
}
