{% import "macros.html" as macros %}

{% set data = load_data(path="static/data/data.json", format="json") %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>

  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/e541009933.js" crossorigin="anonymous"></script>
  <script src="./script.js"></script>
</head>

<body>
  {{ macros::header() }}
  {{ macros::search_overlay(projects=data.projects) }}
  <!-- <div id="app"></div> -->
  {% block content %} {% endblock %}
</body>

</html>
