{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block head %}
<!-- Standard Metadata -->
<title>Embark Studios Open Source | embark.dev</title>
<meta name="description" content="Discover open source repositories in Rust, Go, and more from Embark Studios">
<meta name="keywords" content="open source, sponsorship, rust">

<!-- Open Graph Metadata -->
<meta property="og:title" content="Embark Studios Open Source" />
<meta property="og:description" content="Discover open source repositories in Rust, Go, and more from Embark Studios" />
{% endblock head %}

{% block content %}
<section class="full-width-section cover">
    <div class="container">
        <a href="/">
            <h1>
                <i class="fa fa-long-arrow-left"></i>Back
            </h1>
        </a>
    </div>
</section>

<section id="projects">
    <div class="container">
        {{ macros::project_category_all(projects=data.projects) }}
    </div>
</section>
<script src="./tags/tags.js"></script>
{% endblock content %}
